.windmill-counter {
  position: absolute;
  user-select: none;
}

.windmill-counter .windmill-counter__counter {
  font-size: 140px;
  font-weight: 600;
  color: #2FC4FC;
}

.windmill-counter .windmill-counter__text {
  font-size: 45px;
  font-weight: 600;
  color: #000238;
}