body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  --min-size: 744px;
  --max-width: 1920px;
  --max-height: 1384px;
  min-width: var(--min-size);
  min-height: var(--min-size);
  max-width: var(--max-width);
  max-height: var(--max-height);
  width: 100dvw;
  height: 100dvh;
}